@page
@model ASP_NET_L3.Pages.IndexInputModel
@{
}

<div>
    <form method="post">
        <input type="text" name="FirstName" asp-for="User.FirstName" />
        <input type="text" name="LastName" asp-for="User.LastName" />
        <button type="submit" asp-page-handler="Save">Save</button>
        <button type="submit" asp-page-handler="Delete">Delete</button>
    </form>

    <h1>Hello, @Model.User.FirstName @Model.User.LastName :)</h1>
    <span>@Model.User.CreatedDate</span>
</div>